#utilmenu
#utilmenu ul 
{
	 display: inline-block;
    float: center;
   
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#utilmenu li
{
    display: inline;
}

#utilmenu a{
    float: center;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
}

#utilmenu a:hover {
    background-color: #7A991A;
}





